<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8888b496-2c99-4bc7-8b08-ff0b6b1887d4" Alias="blogs" Level="2">
  <Info>
    <Name>Blogs</Name>
    <Icon>icon-multiple-windows color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Enter Blogs Data</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Components</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="1be35877-1b66-4c09-bd1d-a0e30058a688" SortOrder="0">blog</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>