<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1be35877-1b66-4c09-bd1d-a0e30058a688" Alias="blog" Level="2">
  <Info>
    <Name>Blog Page</Name>
    <Icon>icon-application-window-alt color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description>Enter Blog Data</Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c55cd378-b93e-4481-a3d1-0cf364f3eb4e">contentProperties</Composition>
      <Composition Key="b797baed-68a8-44a5-bb23-8feaecb1e027">headerProperties</Composition>
      <Composition Key="94dd608e-fba1-4109-a45f-982bf8d6f1e8">hideProperties</Composition>
    </Compositions>
    <DefaultTemplate>Blog</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="17ddef29-713c-4516-ac2d-a6349050cf32">Blog</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>0e8b5991-110a-4590-8fc5-60c28374b1cb</Key>
      <Name>PostedBy</Name>
      <Alias>postedBy</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the name of the person who  posted this blog]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="blogPostData">BlogPostData</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>c6e9e402-f618-43bb-8ac2-72ae7528fca8</Key>
      <Name>PostedDate</Name>
      <Alias>postedDate</Alias>
      <Definition>5046194e-4237-453c-a547-15db3a07c4e1</Definition>
      <Type>Umbraco.DateTime</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Enter the posted date]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="blogPostData">BlogPostData</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>05795df7-75f2-4ad4-b1c4-b77190900355</Key>
      <Caption>BlogPostData</Caption>
      <Alias>blogPostData</Alias>
      <Type>Tab</Type>
      <SortOrder>11</SortOrder>
    </Tab>
  </Tabs>
</ContentType>