<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2ba3cbec-bbd6-4d0a-9735-bfbe38918eaf" Alias="contentPage" Level="2">
  <Info>
    <Name>Content Page</Name>
    <Icon>icon-umb-content color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c55cd378-b93e-4481-a3d1-0cf364f3eb4e">contentProperties</Composition>
      <Composition Key="b797baed-68a8-44a5-bb23-8feaecb1e027">headerProperties</Composition>
      <Composition Key="94dd608e-fba1-4109-a45f-982bf8d6f1e8">hideProperties</Composition>
    </Compositions>
    <DefaultTemplate>ContentPage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="2a6e0187-e6ba-41ba-9b76-0cc46682fa5d">ContentPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>