<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="c5839183-9bbe-4237-9f9b-676312348331" Alias="homePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="c55cd378-b93e-4481-a3d1-0cf364f3eb4e">contentProperties</Composition>
      <Composition Key="b797baed-68a8-44a5-bb23-8feaecb1e027">headerProperties</Composition>
      <Composition Key="39b3c319-2ddf-4015-b539-4b8ab61c3f46">siteNavigation</Composition>
    </Compositions>
    <DefaultTemplate>HomePage</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="787ae08f-1057-4188-b07f-31ef6fbfb2fc">HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2ba3cbec-bbd6-4d0a-9735-bfbe38918eaf" SortOrder="0">contentPage</ContentType>
    <ContentType Key="8888b496-2c99-4bc7-8b08-ff0b6b1887d4" SortOrder="1">blogs</ContentType>
    <ContentType Key="1be35877-1b66-4c09-bd1d-a0e30058a688" SortOrder="2">blog</ContentType>
  </Structure>
  <GenericProperties>
    <GenericProperty>
      <Key>52d4414b-a87d-4b28-8f6f-7c508fc912fd</Key>
      <Name>Main Navigation Links</Name>
      <Alias>mainNavigationLinks</Alias>
      <Definition>36fbd178-9249-4ed6-ad6c-c70a25ef03b5</Definition>
      <Type>Umbraco.NestedContent</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="mainNavigation">Main Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>f0eae446-e3c0-44bd-a3fa-0e311b88f483</Key>
      <Caption>Main Navigation</Caption>
      <Alias>mainNavigation</Alias>
      <Type>Tab</Type>
      <SortOrder>101</SortOrder>
    </Tab>
  </Tabs>
</ContentType>