<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="28af53d4-21f0-4e5f-884e-57e15ea418b0" Alias="richTextRowSettings" Level="4">
  <Info>
    <Name>Rich Text Row Settings</Name>
    <Icon>icon-settings color-indigo</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Elements/Content+Blocks/Setting+Models</Folder>
    <Compositions>
      <Composition Key="f9237e88-2d21-4b6f-8621-bbf5188ec455">blockVisibilitySettings</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>