<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a210268e-d2fc-4102-939d-36680fb8d806" Alias="[BlockList] Main Content" Level="2">
  <Info>
    <Name>[BlockList] Main Content</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Generic</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "979d79b0-0718-43c2-ab20-c11faa74c402",
      "settingsElementTypeKey": "28af53d4-21f0-4e5f-884e-57e15ea418b0",
      "view": null,
      "stylesheet": null,
      "label": "{{'Rich Text ' +$Index}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    },
    {
      "backgroundColor": null,
      "iconColor": null,
      "thumbnail": null,
      "contentElementTypeKey": "3219cc4b-f031-444d-9fe2-f0ddc180a7db",
      "settingsElementTypeKey": "e0ece852-ea7b-4e2d-91f9-4a2f30160cf7",
      "view": null,
      "stylesheet": null,
      "label": "{{'Image '+$index }} {{$settings.hide == '1' ?'[HIDDEN]':''}}",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false
    }
  ],
  "ValidationLimit": {
    "min": null,
    "max": null
  },
  "UseSingleBlockMode": false,
  "UseLiveEditing": false,
  "UseInlineEditingAsDefault": true,
  "MaxPropertyWidth": null
}]]></Config>
</DataType>