<?xml version="1.0" encoding="utf-8"?>
<DataType Key="d04621fe-2fcd-4694-9112-8ce9a7a44b1d" Alias="[MultiURLPicker] Single URL Picker" Level="2">
  <Info>
    <Name>[MultiURLPicker] Single URL Picker</Name>
    <EditorAlias>Umbraco.MultiUrlPicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Generic</Folder>
  </Info>
  <Config><![CDATA[{
  "MinNumber": 0,
  "MaxNumber": 1,
  "OverlaySize": "small",
  "HideAnchor": false,
  "IgnoreUserStartNodes": false
}]]></Config>
</DataType>