<?xml version="1.0" encoding="utf-8"?>
<DataType Key="36fbd178-9249-4ed6-ad6c-c70a25ef03b5" Alias="[Nested] Main Navigation" Level="2">
  <Info>
    <Name>[Nested] Main Navigation</Name>
    <EditorAlias>Umbraco.NestedContent</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Generic</Folder>
  </Info>
  <Config><![CDATA[{
  "ContentTypes": [
    {
      "ncAlias": "navigationItem",
      "ncTabAlias": "Content",
      "nameTemplate": "{{title}}"
    }
  ],
  "MinItems": null,
  "MaxItems": null,
  "ConfirmDeletes": true,
  "ShowIcons": true,
  "ExpandsOnLoad": true,
  "HideLabel": false
}]]></Config>
</DataType>