<?xml version="1.0" encoding="utf-8"?>
<Media Key="8605ee8f-cc77-4925-a495-2d3a8af331f2" Alias="6034Cf1e 7Bcf 4C89 8Ac5 Dab9367d30ce" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Cf1e7Bcf4C898Ac5Dab9367d30ce</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-26T18:22:06</CreateDate>
    <NodeName Default="6034Cf1e 7Bcf 4C89 8Ac5 Dab9367d30ce" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/rhxalbtx/6034cf1e-7bcf-4c89-8ac5-dab9367d30ce.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>