<?xml version="1.0" encoding="utf-8"?>
<Media Key="7d37bff4-0073-4e57-ac6c-74a087325649" Alias="Ca86d496 952C 459A 9201 5Dfb464e35d5" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Ca86d496952C459A92015Dfb464e35d5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-26T20:37:25</CreateDate>
    <NodeName Default="Ca86d496 952C 459A 9201 5Dfb464e35d5" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/4k5do5lt/ca86d496-952c-459a-9201-5dfb464e35d5.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>