<?xml version="1.0" encoding="utf-8"?>
<Media Key="31c218a7-af5c-4574-891a-72aa9ec66d21" Alias="Jess Bailey L3n9q27zulw Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/JessBaileyL3n9q27zulwUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-26T20:39:27</CreateDate>
    <NodeName Default="Jess Bailey L3n9q27zulw Unsplash" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/uemmemk2/jess-bailey-l3n9q27zulw-unsplash.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>