<?xml version="1.0" encoding="utf-8"?>
<Media Key="d8cdf2d6-c58c-4f7e-b911-699de9b22850" Alias="Patrick Tomasso Oaqk7qqnh C Unsplash" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/PatrickTomassoOaqk7qqnhCUnsplash</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2024-11-26T20:40:22</CreateDate>
    <NodeName Default="Patrick Tomasso Oaqk7qqnh C Unsplash" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{"src":"/media/0dzm1wem/patrick-tomasso-oaqk7qqnh_c-unsplash.jpg"}]]></Value>
    </umbracoFile>
  </Properties>
</Media>