<?xml version="1.0" encoding="utf-8"?>
<Content Key="08a98844-126f-4c0f-9b55-853fd7c8ea0a" Alias="About" Level="2">
  <Info>
    <Parent Key="04eae24e-b493-40dd-b51d-044dc7e8932e">Home</Parent>
    <Path>/Home/About</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-11-26T21:15:37</CreateDate>
    <NodeName Default="About" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2a6e0187-e6ba-41ba-9b76-0cc46682fa5d">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe nostrum ullam eveniet pariatur voluptates odit, fuga atque ea nobis sit soluta odio, adipisci quas excepturi maxime quae totam ducimus consectetur?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius praesentium recusandae illo eaque architecto error, repellendus iusto reprehenderit, doloribus, minus sunt. Numquam at quae voluptatum in officia voluptas voluptatibus, minus!</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut consequuntur magnam, excepturi aliquid ex itaque esse est vero natus quae optio aperiam soluta voluptatibus corporis atque iste neque sit tempora!</p>]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "76034de8-75f4-44ef-945a-ddf52127af1e",
    "mediaKey": "31c218a7-af5c-4574-891a-72aa9ec66d21"
  }
]]]></Value>
    </headerImage>
    <headerSubtitle>
      <Value><![CDATA[About subtitle]]></Value>
    </headerSubtitle>
    <headerTitle>
      <Value><![CDATA[About]]></Value>
    </headerTitle>
    <siteLogo>
      <Value><![CDATA[]]></Value>
    </siteLogo>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>