<?xml version="1.0" encoding="utf-8"?>
<Content Key="47da5b91-041f-417f-879a-9b4c004dfc3a" Alias="Contact" Level="2">
  <Info>
    <Parent Key="04eae24e-b493-40dd-b51d-044dc7e8932e">Home</Parent>
    <Path>/Home/Contact</Path>
    <Trashed>false</Trashed>
    <ContentType>contentPage</ContentType>
    <CreateDate>2024-11-26T21:20:32</CreateDate>
    <NodeName Default="Contact" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="2a6e0187-e6ba-41ba-9b76-0cc46682fa5d">ContentPage</Template>
  </Info>
  <Properties>
    <bodyText>
      <Value><![CDATA[<p>Want to get in touch? Fill out the form below to send me a message and I will get back to you as soon as possible!</p>]]></Value>
    </bodyText>
    <headerImage>
      <Value><![CDATA[[
  {
    "key": "15d5fa56-3ff4-4d34-b5f8-dc5d9c797cde",
    "mediaKey": "aa5f7f6f-d2b2-4f56-a2e9-6001bc743c4b"
  }
]]]></Value>
    </headerImage>
    <headerSubtitle>
      <Value><![CDATA[Contact subtitle]]></Value>
    </headerSubtitle>
    <headerTitle>
      <Value><![CDATA[Contact]]></Value>
    </headerTitle>
    <siteLogo>
      <Value><![CDATA[]]></Value>
    </siteLogo>
    <umbracoNaviHide>
      <Value><![CDATA[]]></Value>
    </umbracoNaviHide>
  </Properties>
</Content>